
<section class="transfert-form">
  <h2>Transfert d'argent</h2>
  <div *ngIf="message" [style.color]="message.includes('❌') ? 'red' : 'green'" class="alert">
  {{ message }}
</div>

  <form (ngSubmit)="envoyerTransfert()" [formGroup]="form">
    <!-- Numéro de téléphone -->
    <div class="mb-3">
      <label class="form-label fw-bold">N° de compte</label>
      <input 
        formControlName="destinataire" 
        type="text" 
        class="form-control form-control-sm rounded-pill" 
        placeholder="Entrer le N° de compte" />
    </div>

    <!-- Montant envoyé -->
    <div class="mb-3">
      <label class="form-label fw-bold">Montant Envoyé</label>
      <input 
        formControlName="montant" 
        class="form-control form-control-sm rounded-pill" 
        placeholder="Entrer le montant" 
        (input)="calculerFrais()" />
    </div>

    <!-- Montant reçu -->
    <div class="mb-3">
      <label class="form-label fw-bold">Montant Reçu</label>
      <input 
        formControlName="montantRecu" 
        class="form-control form-control-sm rounded-pill" 
        placeholder="Entrer le montant reçu" 
        (input)="calculerMontantEnvoye()" />
    </div>

    <!-- Frais -->
    <p class="text-danger text-center fw-bold">
      Frais Digimonnaie = 1%
    </p>

    <!-- Bouton -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success rounded-pill px-5 fw-bold">
        ENVOYER
      </button>
    </div>
  </form>
</section>
