
<section class="transfert-form">
  <h2>Transfert d'argent</h2>
  <div *ngIf="message" [style.color]="message.includes('❌') ? 'red' : 'green'" class="alert">
  {{ message }}
</div>

  <form (ngSubmit)="envoyerTransfert()" [formGroup]="form">
    <label>Destinataire</label>
    <input formControlName="destinataire" placeholder="N° compte ou téléphone" />

    <label>Montant (XOF)</label>
    <input formControlName="montant" type="number" (input)="calculerFrais()" />

    <p>Frais : {{ frais }} XOF – Total à payer : {{ total }} XOF</p>

    <div class="resume">
      <p>Destinataire : {{ form.value.destinataire || '-' }}</p>
      <p>Montant : {{ form.value.montant || 0 }} XOF</p>
      <p>Frais : {{ frais }} XOF</p>
      <p>Total : {{ total }} XOF</p>
    </div>


    <button type="submit" class="btn-envoyer">ENVOI</button>
  </form>
</section>
