<div class="login-container">
  <div class="login-card">
    <div *ngIf="message" [style.color]="message.includes('❌') ? 'red' : 'green'">
  {{ message }}
</div>


    <form (ngSubmit)="login()">
      <label>Email ou portable</label>
      <input [(ngModel)]="email" name="email" placeholder="Email" required>

      <label>Mot de passe</label>
      <<input [(ngModel)]="motDePasse" name="motDePasse" type="password" placeholder="Mot de passe" required>
      <button type="submit">Se connecter</button>
    </form>

    <div class="forgot-password">
      <a href="#">Mot de passe oublié ?</a>
    </div>
  </div>
</div>
