<section class="historique-section">

  <!-- Erreur de chargement -->
  <div *ngIf="erreurChargement">
    <p class="erreur">❌ Impossible de charger l’historique.</p>
  </div>

  <!-- Aucune transaction -->
  <div *ngIf="filteredTransactions.length === 0 && !erreurChargement">
    <p>Aucune transaction trouvée.</p>
  </div>
  <div class="filtrage">
  <input type="text" placeholder="🔍 Rechercher par type..." [(ngModel)]="filtreType" (input)="filtrerTransactions()" />

  <input type="date" [(ngModel)]="filtreDate" (change)="filtrerTransactions()" />
</div>

  <div *ngFor="let tx of transactionsPaginees" class="transaction-card" [ngClass]="tx.type">
    <div class="tx-icon">
      <ng-container [ngSwitch]="tx.type">
        <span *ngSwitchCase="'dépôt'" class="icon-depot">⬇️</span>
        <span *ngSwitchCase="'retrait'" class="icon-retrait">⬆️</span>
        <span *ngSwitchCase="'envoi'" class="icon-envoi">📤</span>
        <span *ngSwitchDefault>🔄</span>
      </ng-container>
    </div>
    <div class="tx-details">
      <p class="tx-type">{{ tx.type | titlecase }}</p>
      <p class="tx-date">{{ tx.dateTransaction | date:"d MMMM, HH:mm" }}</p>
    </div>
    <div class="tx-montant">
      <strong>{{ tx.montant | number:'1.0-0' }} XOF</strong>
    </div>
  </div>
  <div class="pagination-controls" *ngIf="transactionsFiltrees.length > pageSize">
  <button (click)="pageIndex = pageIndex - 1" [disabled]="pageIndex === 0">⬅️ Précédent</button>
  <span>Page {{ pageIndex + 1 }} / {{ totalPages }}</span>
  <button (click)="pageIndex = pageIndex + 1" [disabled]="(pageIndex + 1) * pageSize >= transactionsFiltrees.length">Suivant ➡️</button>
</div>

</section>
