<p>sidebar-distributeur works!</p>
<nav class="sidebar-agent">
  <div class="logo-section">
    <img src="#" alt="Digimonnaie Logo" class="logo" />
  </div>

  <ul>
    <li routerLinkActive="active">
      <a routerLink="tableau-de-bord">
        <i class="bi bi-alarmcd"></i> Tableau de bord
      </a>
    </li>
    
    <li routerLinkActive="active">
  <a routerLink="depot-retrait">
    <i class="bi bi-person-plus"></i> Dépot/Retrait
  </a>
</li>


    <li routerLinkActive="active">
      <a routerLink="historique-distributeur">
        <i class="bi bi-clock-history"></i> Historique
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="annuler-transaction-distributeur">
        <i class="bi bi-x-circle"></i> Annuler transaction
      </a>
    </li>
    <li>
      <a routerLink="/login">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
      </a>
    </li>
  </ul>
</nav>
