.annuler-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;

  h2 {
    margin-bottom: 20px;
    color: #007bff;
  }

  label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
  }

  .annuler-btn {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #1141a8;
    }
  }

  .message {
    margin-top: 15px;
    font-weight: 500;
    color:  #c0392b;
  }
}
