<h2>Mon historique</h2>

<!-- Champ de recherche -->
<div class="search-box">
  <span class="search-icon">🔍</span>
  <input type="text" placeholder="Effectuer une recherche" [(ngModel)]="searchTerm" />
</div>

<!-- Message d'erreur ou confirmation -->
<div *ngIf="message" class="message">{{ message }}</div>

<div *ngFor="let tx of historiquePagine" class="transaction-card">
  <div class="heure">{{ tx.date_transaction | date:'HH:mm' }}</div>
  <div class="type">{{ tx.type | titlecase }}</div>
  <div class="client">Client : {{ tx.client_telephone }}</div>
  <div class="montant">{{ tx.montant | number }} XOF</div>
  <div class="commission">Commission : +{{ tx.frais | number }} XOF</div>
  <button (click)="annuler(tx.numero_transaction)">Annuler</button>
  <button>Reçu</button>

  

</div>
<div class="pagination-controls" *ngIf="historiqueFiltre.length > pageSize">
  <button (click)="pageIndex = pageIndex - 1" [disabled]="pageIndex === 0">⬅️ Précédent</button>
  <span>Page {{ pageIndex + 1 }} / {{ totalPages }}</span>
  <button (click)="pageIndex = pageIndex + 1" [disabled]="(pageIndex + 1) * pageSize >= historiqueFiltre.length">Suivant ➡️</button>
</div>
