<header class="navbar">
  <div class="nav-left">
    <span class="logo">Diginomaie</span>
    <nav class="menu">
      <a routerLink="/client-dashboard/dashboard" class="menu-item">Tableau de bord</a>
        <a routerLink="/client-dashboard/transfert" class="menu-item">Transfert</a>
        <a routerLink="/client-dashboard/historique" class="menu-item">Historique</a>
    </nav>
  </div>
  <div class="nav-right">
    
   <a routerLink="/client-dashboard/profil" class="icon-link">👤</a>
     
  </div>
</header>
