<nav class="navbar navbar-light bg-white shadow-sm d-flex justify-content-between px-3 fixed-top">
  <!-- Logo -->
  <div class="d-flex align-items-center">
    <a routerLink="/client-dashboard/dashboard" class="icon-link">
      <img src="assets/logo.png" alt="logo" height="50" class="me-2">
    </a>
  </div>

  <!-- Icônes et profil -->
  <div class="d-flex align-items-center">
     <div class="notification-wrapper me-3">
      <i class="bi bi-bell fs-5 bell-icon"></i>
      <span class="notification-badge">3</span> <!-- exemple de badge -->
    </div>
    <div class="d-flex align-items-center">
      <a routerLink="/client-dashboard/profil" class="icon-link">
        <img src="assets/ppp.jpg" alt="profile" class="rounded-circle me-2" width="35" height="35">
      </a>
      <span class="fw-bold">Ndeye koria Drame</span>
    </div>
  </div>
</nav>

   
